<div class="app-container">
  <app-header (openDrawer)="toggle()" (openCodeDrawer)="toggleCode()"></app-header>

  <mat-drawer-container class="example-container" [hasBackdrop]="true">
    <mat-drawer #drawerCode [mode]="'over'" position="end" class="code-sidenav">
      <div class="query-wrapper">
        <app-queries></app-queries>
      </div>
    </mat-drawer>

    <mat-drawer #drawer [mode]="'over'">
      <button mat-button extended color="primary">Create new node</button>
      <br>
      <button mat-button extended color="primary">Get all nodes</button>
    </mat-drawer>

    <div>
      <app-canvas-view></app-canvas-view>
    </div>
  </mat-drawer-container>
</div>
