<div class="app-container">
  <app-header
    (openDrawer)="toggle()"
  ></app-header>
  <mat-drawer-container class="example-container" [hasBackdrop]="true">
    <mat-drawer #drawer [mode]="'over'">
      <button primary>Create new node</button>
      <button primary>Get all nodes</button>
    </mat-drawer>
  <div class="content-container">
    <mat-grid-list cols="4" rowHeight="93vh">
      <mat-grid-tile [colspan]="3" [rowspan]="1" style="background-color: aqua">
        <app-canvas-view> </app-canvas-view>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="query-wrapper">
          <app-queries> </app-queries>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  </mat-drawer-container>
</div>
