.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the container takes at least the height of the viewport */
  }
  
  .content-container {
    flex-grow: 1; /* Allow the content container to grow and fill the available space */
    display: flex; /* Enable flexbox layout */
    justify-content: center; /* Center the grid horizontally */
    align-items: flex-start; /* Align the grid to the top of the container */
  }
  
  .mat-grid-list {
    width: 100%; /* Make the grid list fill the available width */
    height: 100%;
  }
  .query-wrapper {
    height: 100%;
    width: 100%;
  }