<div class="app-container">
  <app-header
    (openDrawer)="toggle()"
    (openCodeDrawer)="toggleCode()"
  ></app-header>
  <mat-drawer-container class="example-container" [hasBackdrop]="true">
    <mat-drawer #drawerCode [mode]="'over'" position="end" class="code-sidenav">
      <div class="query-wrapper">
        <app-queries> </app-queries>
      </div>
    </mat-drawer>
  <mat-drawer-container class="example-container" [hasBackdrop]="true">
    <mat-drawer #drawer [mode]="'over'">
      <button primary>Create new node</button>
      <button primary>Get all nodes</button>
    </mat-drawer>
  <div class="content-container">
    <mat-grid-list cols="4" rowHeight="93vh">
      <mat-grid-tile [colspan]="4" [rowspan]="1" style="background-color: aqua">
        <app-canvas-view> </app-canvas-view>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  </mat-drawer-container>
</mat-drawer-container>
</div>
